.app {
  form {
    background-color: white;
    border: 1px solid rgba(34, 36, 38, 0.637);
    border-radius: 5px;
    padding: 1rem;

    div {
      display: flex;
      border: 1px solid rgba(34, 36, 38, 0.637);
    }

    div > input {
      width: 100%;
      font-size: 1rem;
      padding: 0.5rem;
      border: none;
      padding-left: 0;
    }

    img {
      padding: 0.5rem;
      width: 35px;
    }
  }
}


